{{#if errors}}
{{#each errors}}
    <div class="alert alert-danger alert-dissmissible fade show" role="alert">
        <strong>{{message}}</strong>
    </div>
{{/each}}
{{/if}}


<div class="card card-register mx-auto my-5">
    <div class="card-header">Rejestracja użytkownika</div>
    <div class="card-body">
        <form action="/register" method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputName">Imię</label>
                        <input name="firstName" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleInputLastName">Nazwisko</label>
                        <input name="lastName" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Adres Email</label>
                <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label for="exampleInputPassword1">Hasło</label>
                        <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="">
                    </div>
                    <div class="col-md-6">
                        <label for="exampleConfirmPassword">Powtórz hasło</label>
                        <input name="passwordConfirm" class="form-control" id="exampleConfirmPassword" type="password" placeholder="">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Zarejestruj</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/login">Logowanie</a>
        </div>
    </div>
</div>