<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>Wszystkie artykuły</h1>
    </div>

    <table class="table table-bordered">
        <thead class="bg-dark text-center">
        <tr class="text-white">
            <th>Tytuł</th>
            <th>Treść artykułu</th>
            <th>Status</th>
            <th>Komentarze włączone</th>
            <th>Kategoria</th>
            <th>Akcja</th>
        </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>1</td>
                <td>First</td>
                <td>Post created here</td>
                <td>True</td>
            </tr>

        </tbody>
    </table>

</div>